<div id="floating-panel1">
  <div class= "row">
    <input id="latlng" type="text" value="40.714224,-73.961452">
    <input id="submit1" type="button" value="Reverse Geocode" >
  </div>
  <div class= "row">
    <input id="address" type="textbox" value="Sydney, NSW">
    <input id="submit2" type="button" value="Geocode" >
  </div>
</div>
<div id="floating-panel2">
    <!-- <input type=button value="Hide Markers">
    <input type=button value="Show All Markers">
    <input type=button value="Delete Markers"> -->
</div>
<div id="map" style="width: 1500px; height: 600px;"></div>

