<!--svg-pan-zoom-->

<!--SVG Inserted with Embed Element-->
<!--<embed id="sample" type="image/svg+xml" src="../../assets/images/us.svg"-->
<!--style="width: 500px; height: 500px; border:1px solid black; "/>-->

<!--SVG Inserted with Object Element-->
<!--<object id="sample" type="image/svg+xml" data="../../assets/images/tiger.svg"-->
<!--style="width: 500px; height: 500px;"></object>-->

<!--<object id="sample" type="image/svg+xml" data="../../assets/img/us.svg"-->
<!--style="width: 500px; height: 500px;"></object>-->

<!--<object id="marker" type="image/svg+xml" data="../../assets/img/marker1.svg"-->
<!--style="width: 50px; height: 50px; display:none"></object>-->




<!--d3-floorplan-->
<div id="demo"></div>


