<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <!--custom-btn-group start-->
      <!--임시-->
      <div style="margin: 10px;">
        <button type="button" (click)="setType('default')">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
        <button type="button" (click)="setType('move')">
          <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
        </button>
        <button type="button" (click)="setType('rotate')">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
        </button>
        <button type="button" (click)="setType('delete')">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </div>
      <!--custom-btn-group end-->
      <div id="jstree"></div>
    </div>
    <div class="col-sm-10">
      <div id="image-map" class="myMap">
        <!--custom-btn-group start-->
        <!--<div class="leaflet-bottom leaflet-left custom-btn-group">-->
          <!--<button type="button" id="move" class="btn btn-secondary btn-sm"-->
                  <!--(click)="type = 'move';activeBtn('move');" disabled>-->
            <!--<span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>-->
          <!--</button>-->
          <!--<button type="button" id="rotate" class="btn btn-secondary btn-sm" (click)="type = 'rotate'; " disabled>-->
            <!--<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>-->
          <!--</button>-->
          <!--<button type="button" id="delete" class="btn btn-secondary btn-sm" (click)="type = 'delete'; " disabled>-->
            <!--<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>-->
          <!--</button>-->
        <!--</div>-->
        <!--custom-btn-group end-->
      </div>
    </div>
  </div>
</div>
