/* You can add global styles to this file, and also import other style files */
#image-map {
  width: 900px;
  height: 400px;
  margin: 10px auto 10px auto;
  border: 1px solid #ccc;
  background: #252a2e;
}


.custom-pin-div{
  padding:10px;
  width: 65px;
  height: 65px;
}
.custom-pin-div .camera {
  position: absolute;
}
.custom-pin-div .rotate {
  top:-10px;
  left:-10px;
  width: 65px;
  height: 65px;
  position: relative;
}
.custom-pin-div .close {
  top:10px;
  left:40px;
  position: absolute;
}


.custom-btn-group {
  margin: 10px;
}
