<div style="margin-top:10px;"></div>
<div id="customTime">&nbsp;</div>
<div id="mytimeline">
  <div class="menu">
    <input type="button" id="zoomIn" value="Zoom in"/>
    <input type="button" id="zoomOut" value="Zoom out"/>
    <input type="button" id="moveLeft" value="Move left"/>
    <input type="button" id="moveRight" value="Move right"/>
    <input type="button" id="goalive" value="go alive"/>
    <input type="button" id="10m" value="10m"/>
    <input type="button" id="60m" value="60m"/>
    <input type="button" id="6h" value="6h"/>
    <input type="button" id="24h" value="24h"/>
  </div>
</div>
