<div style='width: 400px; margin-top: 10px;'>
<select id="gridSelect" style="height: 30px; width: 200px;" (change)=getwidth()>>
  <option value = "data">데이터1</option>
  <option value = "kind">데이터2</option>
  <!--<option value = "tint">주석 변경</option>-->
</select>
  <h5 style='margin-left: 15px;'>그리드 옵션변경</h5>
  <div id='jqxCheckBox_filter' style='margin-left: 10px; float: left;'>
    <span>Filter On</span></div>
  <div id='jqxCheckBox_title' style='margin-left: 10px; float: left;'>
    <span>Title On</span></div>
  <div id='jqxCheckBox_tooltip' style='margin-left: 10px; float: left;'>
    <span>Tooltips On</span></div>
  <!--<div id='jqxCheckBox_scroll' style='margin-left: 10px; float: left;'>-->
    <!--<span>Scroll On</span></div>-->
  <!--<div id='jqxCheckBox_sort' style='margin-left: 10px; float: left;'>-->
    <!--<span>Sorting On</span></div>-->
  <select id="chartMaxSelect" style="height: 30px; width: 200px;" (change)=getwidth()>>
    <option value = 10000 >Max 10000</option>
    <option value = 1000 >Max 1000</option>
    <!--<option value = "tint">주석 변경</option>-->
  </select>
</div>


<div id="jqxGrid" style="margin-top: 50px;"></div>
<div id='jqxChart' style="margin-top: 50px; width: 850px; height: 400px; position: relative; left: 0px; top: 0px;">
</div>
