<div style="margin-top:30px;"></div>
<div id="video-placeholder"></div>
<video id="myvideo" controls autoplay preload="auto" width="1280px" height="600px">
  <source src="../../../assets/video/bossbaby.mp4" type='video/mp4'>
</video>
<button id="getTime" (click)=getTime(); >Get time</button>

<div id="customTime">&nbsp;</div>
<p></p>

<div id="mytimeline"></div>
