<div class="row" style="padding: 20px">
  <button type="button" class="add" (click)=add();>add</button>
  <button type="button" class="add">rename</button>
  <button type="button" class="add">delete</button>
</div>
<div class="row" style="padding: 20px">
  <input type="text" id="search">
</div>
<div id="jstree">
  <ul>
    <li>Root node 1
      <ul>
        <li id="child_node_1">Child node 1</li>
        <li>Child node 2</li>
      </ul>
    </li>
    <li>Root node 2</li>
  </ul>
</div>
