<div class="row" style="margin-left: 50px">
<select id="chart" style="height: 30px; width: 200px" (change)=jqchart();>
  <option value = "default">기본 차트</option>
  <option value = "data">데이터 변경</option>
  <option value = "kind">차트 종류</option>
  <option value = "title">타이틀 변경</option>
  <option value = "tint">주석 변경</option>
</select>
<select id="chart2" style="height: 30px; width: 200px; margin-left: 400px" (change)=jqpiechart();>
    <option value = "default">기본 차트</option>
    <option value = "data">데이터 변경</option>
    <option value = "kind">차트 종류</option>
    <option value = "tint">주석 변경</option>
  </select>
</div>
<div class="row" style="padding: 50px">
  <div class="col-md-5" id="chartContainer" style="width:600px; height:500px;"></div>
  <div class="col-md-5" id='chartContainer2' style="width:600px; height:500px;"></div>
</div>
<div class="col-md-5" id='chartContainer3' style="width:600px; height:500px;"></div>
