<!--<div style="position: relative;" [innerHtml]="cameraIcon | safeHtml"></div>-->
<div id="cameraList" style="position: relative;" (click)="rotate($event.target.id)"></div>

<img id="image" src="../../assets/img/demo.jpg" (click)="addCamera($event)" >
