<div style='float: left; padding: 100px 0px 0px 100px;'>
    <div class ="row" style='margin-bottom: 10px; margin-left:10px'>
        <input type="button" id='Add' value="Add" />
        <input type="button" id='Remove' value="Remove" />
    </div>
    <div class="row" style="margin-left:10px; margin-bottom: 10px">
        <input id="search" type="text"> <button id = "searchbtn">검색</button>
    </div>
    <div id='treeA' style='visibility: hidden; float: left; margin-left: 0px;'>
      <ul>
        <li id='home' item-selected='true'>Home</li>
        <li item-expanded='true'>Solutions
          <ul>
            <li>Education</li>
          </ul>
        </li>
        <li>Financial services</li>
        <li>Community</li>
      </ul>
    </div>
    <div id="treeB" style='visibility: hidden; float: left; margin-left: 20px;'>
      <ul>
        <li>Products</li>
        <li item-expanded='true'>Support
            <ul>
              <li>Support home</li>
              <li>Customer Service</li>
            </ul>
        </li>
        <li>Knowledge base</li>
        <li>Forum</li>
      </ul>
    </div>
    <div style="width: 200px; height: 200px; float: left; margin-left: 20px;">
        <textarea rows="5" id="textarea"></textarea>
    </div>
</div>
  <div id='jqxMenu'>
    <ul>
        <li>Add Item</li>
        <li>Remove Item</li>
    </ul>
  </div>

