<nav class="navbar navbar-default" style="background-color: #293649; height: 80px;">
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <div style="color:white; float: left; margin-left: 10px"><h2>{{brand}}</h2></div>
  </div>
</nav>

<div class="row">
  <!-- Menu -->
  <div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Main Menu -->
      <div class="side-menu-container">
        <ul class="nav navbar-nav">
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl1">
              <span class="glyphicon glyphicon-cloud"></span>JQWidget Libaray <span class="caret"></span>
            </a>
            <!-- 메뉴 INDEX1 -->
            <div id="dropdown-lvl1" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a [routerLink]="['/jqwidgets/charts']">Charts</a></li>
                  <li><a [routerLink]="['/jqwidgets/grid']">Grid</a></li>
                  <li><a [routerLink]="['/jqwidgets/with']">Chart with Grid</a></li>
                  <li><a [routerLink]="['/jqwidgets/tree']">Tree</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl2">
              <span class="glyphicon glyphicon-cloud"></span>JUI Libaray <span class="caret"></span>
            </a>
            <!-- 메뉴 INDEX1 -->
            <div id="dropdown-lvl2" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a [routerLink]="['/jui/charts']">Charts</a></li>
                  <li><a [routerLink]="['/jui/grid']">Grid</a></li>
                </ul>
              </div>
            </div>
          </li>
          <!--<li><a href="#"><span class="glyphicon glyphicon-cloud"></span>JQWidget Libaray</a></li>-->
          <!-- <li><a [routerLink]="['/timeline']"><span class="glyphicon glyphicon-cloud"></span>Timeline Libaray</a></li> -->
          <li><a [routerLink]="['/jstree']"><span class="glyphicon glyphicon-cloud"></span>Jstree Libaray</a></li>

          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl3">
              <span class="glyphicon glyphicon-cloud"></span>TimeLine Libaray <span class="caret"></span>
            </a>
            <!-- 메뉴 INDEX1 -->
            <div id="dropdown-lvl3" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a [routerLink]="['/timeline/realtime']">realtime</a></li>
                  <li><a [routerLink]="['/timeline/playback']">play back</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li><a [routerLink]="['/gis']"><span class="glyphicon glyphicon-cloud"></span>GIS</a></li>
          <li class="panel panel-default" id="dropdown">
            <a data-toggle="collapse" href="#dropdown-lvl4">
              <span class="glyphicon glyphicon-cloud"></span>E-Map Libaray <span class="caret"></span>
            </a>
            <div id="dropdown-lvl4" class="panel-collapse collapse">
              <div class="panel-body">
                <ul class="nav navbar-nav">
                  <li><a [routerLink]="['/e-map/svg-pan-zoom']">svg</a></li>
                  <li><a [routerLink]="['/e-map/image']">image</a></li>
                  <li><a [routerLink]="['/e-map/leaflet']">leaflet</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  </div>
</div>
