<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-5">


      <div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left;">

        <!-- checkbox to paging -->
        <div style='width: 400px; margin-top: 10px;'>
          <h5 style='margin-left: 15px;'>그리드 옵션변경</h5>
          <div id='jqxCheckBox_paging' style='margin-left: 10px; float: left;'>
            <span>Paging On</span></div>
          <div id='jqxCheckBox_check' style='margin-left: 10px; float: left;'>
            <span>CheckBox On</span></div>
          <div id='jqxCheckBox_edit' style='margin-left: 10px; float: left;'>
            <span>Editing On</span></div>
          <div id='jqxCheckBox_scroll' style='margin-left: 10px; float: left;'>
            <span>Scroll On</span></div>
          <div id='jqxCheckBox_sort' style='margin-left: 10px; float: left;'>
            <span>Sorting On</span></div>
        </div>

        <select id="gridSelect" style="height: 30px; width: 200px;" (change)=getGrid()>>
          <option value = "data">데이터1</option>
          <option value = "kind">데이터2</option>
          <!--<option value = "tint">주석 변경</option>-->
        </select>

        <!-- checkbox to checkbox -->
        <!--<div style='width: 400px; margin-top: 10px;'>-->
          <!--<div id='jqxCheckBox3' style='margin-left: 10px; float: left;'>-->
            <!--<span>CheckBox On</span></div>-->
          <!--<div id='jqxCheckBox4' style='margin-left: 10px; float: left;'>-->
            <!--<span>CheckBox Off</span></div>-->
        <!--</div>-->

        <br>

        <div id="label" style='font-size: 11px; margin: 8px 3px; font-weight: bold; float: right; margin-left:430px;'></div>
        <div id="button" style="margin-bottom: 55px;">
          <div id="left"style='padding: 0px; float: left; margin-left:600px;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>
          <div id="right"style='padding: 0px; margin: 0px 3px; float: right;'><div style='margin-left: 9px; width: 16px; height: 16px;'></div></div>
        </div>


        <div id="jqxgrid" style="width:600px;"></div>
        <div style='margin-top: 20px;'>
          <input type="button" value="추가" id='addrow' />
          <input type="button" value="삭제" id='deleterow' />
          <input type="button" value="Export Excel" id='export' />
          <input type="button" value="PRINT" id='print' />
          <input id='inputField' type="text" class="jqx-input" style="width: 200px; height: 23px;" />
          <input type="button" value="Find" id="findButton" />

        </div>
      </div>
    </div>
