<div class="jui" style="position: absolute; padding: 100px">
  <div class="row">
  <div class="col-md-5" id="barchart" style="margin-right: 150px"></div>
  <div class="col-md-6" id="piechart" style="width:500px; height: 500px;"></div>
  </div>
</div>
